<!DOCTYPE html>
<html>
<head>
	<title>Exams Dashboard</title>
</head>
<body>
	<a href="{% url 'exam_add' %}"> Create Exam</a>
	<form >
		<input type="text" name="q">
		<input type="submit" value="filter">
	</form>
	<table>
	<tr>
		<th> Name </th>
		<th> Actions </th>
	</tr>
	{% for article in object_list %}
		<tr>
			<td> {{article.id}}</td>
			<td> <a href="{% url 'exam_edit' article.id %}"> Edit </a> <a href="{% url 'exam_print' article.id %}"> Print </a> </td>
		</tr>
	{% endfor %}
	</table>
</body>
